.listItems {
    border-bottom-style: solid;
    border-bottom-color: black;
    border-top-style: solid;
    border-top-color: black;
    background-color: rgba(15, 15, 15, 0.4);
    list-style-type: none;
    width: 100%;
    display: inline-flex;
}

.info {
    width: 86%;
}

.noTickets {
    text-shadow: 4px 4px black;
    margin-top: 50px;
    margin-left: 40%;
}

.cancelBtn {
    margin-top: 30px;
    margin-left: 70px;
}

.no {
    margin-left: 20px;
}

.animate {
    transition: transform 3s;
    transform: translate(-10000px,0px);
}