html {
    /*height: 100%;*/
}
body {
    height: 100%;
    background: -webkit-linear-gradient(#400874,black);
}
p {
    color: white;
}


.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .form-text{
    color: white;
    margin-bottom: 10px;
}


.form-signin, .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.checkbox {
    color: white;
}
.form-signin input[type="username"], input[type="email"], input[type="tel"],
input[type="date"], input[type="number"], input[type="text"], input[type="radio"]{
    color: white;
    background-color: #0f0f0f;
    margin-bottom: 10px;
    /*border-bottom-right-radius: 0;*/
    /*border-bottom-left-radius: 0;*/
}

.btnDark {
    background-color: #0f0f0f;
    border-color: white;
    color: white;
}

.list {
    background-color: #000000;
}

.form-signin input[type="password"] {
    color: white;
    background-color: #0f0f0f;
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.searchbar {
    background-color: #0f0f0f;
}

.navbar-custom {
    background: linear-gradient(left, black,white);
    color:#ffffff;
    border-radius:10px;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    border-radius: 10px;
    background-color: black;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color: black;
}