ol {
    margin-right: 20px;
    color: white;

}

.listItems {
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    margin-bottom: 40px;
    background-color: rgba(70, 48, 90, 0.53);
    list-style-type: none;
    width: 100%;
    display: inline-flex;

}