.searchEventBorder {
    border-radius: 50px;
    /*border-style: solid;*/
    background-color: rgba(15, 15, 15, 0.51);
    /*border-color: rgba(15, 15, 15, 0.51);*/
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 5px;
    display: flex;

}

.searchEventBorder:hover {
    cursor: hand;
}

ul {
    list-style-type: none;
}

.first {}
.second {
    width: 100%;
}

.img {
    width: 200px;
    border-radius: 30px;
}

.hover {
    color: white;
}

.hover:focus {
    color: white;
}

.hover:hover {
    color: white;
}

.img2 {
    width: 200px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.events {  }

.searchTitle {
    padding-top: 5px;
    padding-left: 15%;
    font-size: 20px;
}

.otherTitle, .title {
    padding-left: 5%;
}
.dateTime {
    display: flex;
    padding-left: 5%;
}

.description {
    padding-top: 5px;
    padding-left: 5%;
    padding-bottom: 20%;
    font-size: 15px;
}

.searchDescription {
    padding-top: 5px;
    padding-left: 5%;
    font-size: 15px;
}

.page {
    color: white;
    border-radius: 20%;
    background-color: rgba(138, 43, 226, 0.11);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin:5px;
    font-size: 25px;
}
.page-container {
    text-align: center;
    display: table;
    margin-bottom: 40px;
}
